@big-bear-studios-open-source:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=8ShomVe_WBLBV9_mmj6y
//gitlab.com/api/v4/projects/20396872/packages/npm/:_authToken=8ShomVe_WBLBV9_mmj6y
